doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    title User Info
  body
    div.container
      h1 User Information
      p Username: #{user.username}
      p User ID: #{user.id}
      p Other Info: Placeholder for any additional user data
      a(href="/auth/logout" class="btn btn-danger mt-3") Logout
